.cryptoLogo {
    height: 8rem;
}

.price {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
}

.evolution {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
}

.cryptoName {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

.description {
    overflow: hidden;
    flex-basis: 8rem;
}

.modal-content {
    padding: 1rem;
}

.description-content {
    margin: 1rem 0.5rem;
}

.overlay {
    position: absolute;
    overflow: scroll;
    font-size: 0.9rem;
    border: 2px solid #b1c1ee;
    top: 10rem;
    right: 1rem;
    bottom: 5rem;
    left: 1rem;
    border-radius: 6px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-start;*/
    background-color: ghostwhite; /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.close {
    position: fixed;
    top: 13%;
    left: 85%;
    display: none;
    margin-right: 5rem;
    cursor: pointer;
    font-size: 2rem;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: #b1c1ee;
    border-radius: 5px;
    width: 5rem;
    height: 1.5rem;
}

.link {
    margin-top: 2rem;
}



@media (min-width: 768px) {

    .description {
        overflow: visible;
    }

    .overlay {
        overflow: visible;
        bottom: 15rem;
        align-items: center;

    }

    .btn-container {
        display: none;
    }

    .stats {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}