.header {
    height: 6rem;
    background: linear-gradient(to right, #DBEAFE, #BFDBFE);
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

.logo {
    height: 68px;
    flex: 1;
}

.title {
    flex-basis: 60%;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

