.App {
    text-align: center;
    background-color: #EFF6FF;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #525151;
}



.container {
    width: 80vw;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid #b1c1ee;
    border-radius: 10px;
    background-color: #BFDBFE;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    .container {
        width: 90vw;
    }

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
